<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>	
    
  	<httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="403" subStatusCode="-1" />
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" prefixLanguageFilePath="" path="/games/asteroid/asteroid.asp" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/errorpage/403.asp" responseMode="ExecuteURL" />
    </httpErrors>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483648" />
    </requestFiltering>
  </security>
    <rewrite>
      <rewriteMaps>
        <clear />
        <rewriteMap name="Static URL Rewrites">
          <add key="/robots.txt" value="/robots.asp" />
          <add key="/sitemap.xml" value="/sitemap.asp?format=XML" />
          <add key="/sitemap.txt" value="/sitemap.asp?format=TXT" />

		      <add key="/ingreso-de-credenciales" value="/login.asp" />
          <add key="/valida-usuario" value="/check_login.asp" />
          <add key="/sesion-finalizada" value="/login.asp" />
          <add key="/home" value="/default.asp" />		  
		      <add key="/bandeja-de-entrada" value="/bandeja.asp" />
          <add key="/bandeja-de-entrada2" value="/bandeja2.asp" />
          <add key="/bandeja-de-entrada/agregar" value="/proyecto.asp?modo=1" />
          <add key="/bandeja-de-entrada/modificar" value="/proyecto.asp?modo=2" />
          <add key="/bandeja-de-entrada/visualizar" value="/proyecto.asp?modo=4" />
          <add key="/bandeja-de-finalizados/visualizar" value="/proyecto.asp?modo=4" />

          <add key="/bandeja-requerimientos-antiguos" value="/include/modules/legacy/bandejaantiguos.asp" />
          <add key="/bandeja-requerimientos-antiguos/agregar" value="/include/modules/legacy/proyectosantiguos.asp?modo=1" />
          <add key="/bandeja-requerimientos-antiguos/modificar" value="/include/modules/legacy/proyectosantiguos.asp?modo=2" />
          <add key="/bandeja-requerimientos-antiguos/visualizar" value="/include/modules/legacy/proyectosantiguos.asp?modo=4" />
          <add key="/requerimientos-antiguos" value="/include/modules/legacy/Requerimientosantiguos.asp" />
          <add key="/formulario-compras" value="/include/modules/legacy/formulariocompras.asp" />
          <add key="/formulario-workflowv1" value="/include/modules/legacy/formularioworkflowv1.asp" />
          <add key="/datos-workflowv1" value="/include/modules/legacy/datosworkflowv1.asp" />
          <add key="/genera-informe-pdf-legacy" value="/include/modules/legacy/pdfasplegacy.asp" />	
          <add key="/certificado-workflowv1" value="/include/modules/legacy/cdpwkfv1.asp" />                    
          <add key="/memo-workflowv1" value="/include/modules/legacy/memowkfv1.asp" />	
          <add key="/bases-workflowv1" value="/include/modules/legacy/baseswkfv1.asp" />	
          <add key="/genera-informe-html-legacy" value="/include/modules/legacy/htmlasplegacy.asp" />	
          <add key="/genera-informe-legacy" value="/appl/pdfphplegacy.php" />
          <add key="/lista-informes-legacy" value="/include/modules/legacy/listaradjuntoslegacy.asp" />
          <add key="/bajar-archivo-legacy" value="/include/modules/legacy/downloadlegacy.asp" />
          <add key="/bandeja-pendientes-antiguos" value="/include/modules/legacy/bandejapendientesantiguos.asp" />
          <add key="/requerimientos-pendientes-antiguos" value="/include/modules/legacy/requerimientospendientesantiguos.asp" />
          <add key="/formulario-pendientes-workflowv1" value="/include/modules/legacy/formularioworkflowpenv1.asp" />
          <add key="/finaliza-requerimiento-boletas-v1" value="/include/modules/legacy/finalizaboletasv1.asp" />
          
                                        
		      <add key="/requerimientos" value="/requerimientos.asp" />
          <add key="/reqphp" value="/Requerimientos.php" />          
          <add key="/lista-versiones-flujos" value="/listversionesflujos.asp" />
          <add key="/menu-flujo" value="/include/modules/menuflujo.asp" />          
          <add key="/perfiles-html" value="/perfilhtml.asp" />				  		  		  
          <add key="/graba-perfil" value="/perfiles_modificar_grabar.asp" />		  		  
          <add key="/breadcrumbs" value="/include/modules/breadcrumbs.asp" />
          <add key="/perfil" value="/include/modules/perfil.asp" />		  
          <add key="/cerrar-session" value="/cerrarsesion.asp" />
          <add key="/reactivar-session" value="/reactivarsesion.asp" />          
          <add key="/seleccionar-comunas" value="/select_comunas.asp" />
          <add key="/bajar-archivo" value="/appl/download.asp" />

          <add key="/acceso-no-autorizado" value="/errorpage/403.asp" />		  
          <add key="/error404" value="/errorpage/404.asp" />
          <add key="/error403" value="/errorpage/403.asp" />
          <add key="/error500" value="/errorpage/500.asp" />
          <add key="/error503" value="/errorpage/503.asp" />
          <add key="/error418" value="/errorpage/418.asp" />
                              
          <add key="/formulario" value="/include/modules/formulario.asp" />          
          <add key="/formulario-grabar" value="/include/modules/formulariograbar.asp" />
          <add key="/listar-adjuntos" value="/include/modules/listaradjuntos.asp" />
          <add key="/tomar-requerimiento" value="/include/modules/tomarrequerimiento.asp" />
          <add key="/crear-requerimiento" value="/include/modules/crearrequerimiento.asp" />
          <add key="/informes-flujo" value="/include/modules/modalinformesflujo.asp" />
          <add key="/listado-informe" value="/include/modules/tbl-informesflujo.asp" />
          <add key="/certificado-disponibilidad" value="/include/modules/certificadodisponibilidad.asp" />
          <add key="/imputaciones-certificado" value="/include/modules/tbl-imputacionescertificado.asp" />
          <add key="/ingreso-certificado-disponibilidad" value="/include/modules/ingresocertificado.asp" />
          <add key="/eliminar-imputacion-certificado" value="/include/modules/eliminarimputacion.asp" />
          <add key="/genera-informe-pdf" value="/appl/pdfasp.asp" />	
          <add key="/memorandum-compras" value="/include/modules/memocompras.asp" />	
          <add key="/genera-informe-html" value="/appl/htmlasp.asp" />	
          <add key="/genera-informe" value="/appl/pdfphp.php" />
          <add key="/listar-proveedores" value="/include/modules/listarproveedores.asp" />
          <add key="/listar-proveedores-json" value="/include/modules/listarproveedoresjson.asp" />
          <add key="/listar-items-json" value="/include/modules/listaritemsjson.asp" />
          <add key="/listar-periodos-json" value="/include/modules/listarperiodosjson.asp" />        
          <add key="/listar-usuarios-json" value="/include/modules/listarusuariosjson.asp" />

          <add key="/listar-Informes" value="/include/modules/listarinformes.asp" />
          <add key="/consulta-presupuesto" value="/include/modules/consultapresupuesto.asp" />
          <add key="/certificado-disponibilidad-presupuestaria" value="/include/modules/cerdispre.asp" />	
          <add key="/finalizar-requerimiento" value="/include/modules/cerrarrequerimiento.asp" />          
          <add key="/rechazar-requerimiento" value="/include/modules/rechazarrequerimiento.asp" />
          <add key="/liberar-requerimiento" value="/include/modules/liberarrequerimiento.asp" />
          <add key="/abrir-requerimiento" value="/include/modules/abrirrequerimiento.asp" />          
          <add key="/adjuntos-modal" value="/include/modules/modaladjuntos.asp" />          
          <add key="/mensajes-requerimiento-modal" value="/include/modules/modalmensajesreq.asp" />
          <add key="/mensajes-requerimientos" value="/include/modules/mensajesreq.asp" />
          <add key="/adjuntos-requerimientos" value="/include/modules/adjuntosreq.asp" />
          <add key="/enviar-respuestas-requerimiento" value="/include/modules/respondermensajereq.asp" />
          <add key="/enviar-consulta-requerimiento" value="/include/modules/crearmensajereq.asp" />
          <add key="/ver-respuestas-requerimiento" value="/include/modules/misrespuestasreq.asp" />
          <add key="/enviar-mensaje-usuario" value="/include/modules/enviamensajeusuario.asp" />		  
          <add key="/responder-usuario" value="/include/modules/responderusuario.asp" />
          <add key="/mis-respuestas" value="/include/modules/misrespuestas.asp" />
          <add key="/mis-preguntas-y-respuestas" value="/include/modules/mispreguntasyrespuestas.asp" />
          <add key="/requerimiento-preguntas-y-respuestas" value="/include/modules/reqpreguntasyrespuestas.asp" />
                    
          <add key="/bandeja-de-archivados" value="/bandeja.asp?tpo=2" />
          <add key="/bandeja-de-salida" value="/bandeja.asp?tpo=3" />
          <add key="/bandeja-de-finalizados" value="/bandeja.asp?tpo=4" />
          <add key="/bandeja-otros-proyectos" value="/bandeja.asp?tpo=5" />
          <add key="/listar-usuarios" value="/selectusuarios.asp" />          
          <add key="/usuario" value="/usuario.asp" />
          <add key="/departamento" value="/departamento.asp" />
          <add key="/cambiar-editor" value="/cambiareditor.asp" />          
          

          <add key="/observaciones" value="/include/modules/observaciones.asp" />
          <add key="/observaciones-requerimiento" value="/include/modules/reqobservaciones.asp" />
          <add key="/listar-requerimientos" value="/listarrequerimientos.asp" />
          <add key="/archivar-requerimiento" value="/archivarrequerimiento.asp" />
          <add key="/desarchivar-requerimiento" value="/desarchivarrequerimiento.asp" />
          <add key="/listar-requerimientos-archivados" value="/listarrequerimientosarchivados.asp" />
          

          <add key="/mnu-extras" value="/mantenedores/mnuextras.asp" />
          
		      <add key="/reportes" value="/extras.asp?type=rep" />          
          <add key="/informe-dias-por-usuario" value="/mantenedores/infodiasusuario.asp" />
          <add key="/tbl-infdiasusr" value="/mantenedores/tbl-infdiasusr.asp" />
          <add key="/informe-ordenes-de-compra" value="/mantenedores/ordenesdecompra.asp" />
          <add key="/tbl-ordenesdecompra" value="/mantenedores/tbl-ordenesdecompra.asp" />
          <add key="/informe-seguimiento-pagos" value="/mantenedores/seguimientopagos.asp" />
          <add key="/informe-pagos" value="/mantenedores/infopagos.asp" />
          <add key="/tbl-seguimientopagos" value="/mantenedores/tbl-seguimientopagos.asp" />
          <add key="/tbl-infpagos" value="/mantenedores/informedepagos.asp" />                    
          
          <add key="/mantenedores" value="/extras.asp?type=man" />
          <add key="/departamentos" value="/mantenedores/departamentos.asp" />
          <add key="/tbl-departamentos" value="/mantenedores/tbl-departamentos.asp" />
          <add key="/modal-departamentos" value="/mantenedores/modaldepartamentos.asp" />
          <add key="/modificar-departamentos" value="/mantenedores/moddepartamentos.asp" />
          <add key="/agregar-departamentos" value="/mantenedores/adddepartamentos.asp" />

          <add key="/regiones" value="/mantenedores/regiones.asp" />
          <add key="/tbl-regiones" value="/mantenedores/tbl-regiones.asp" />
          <add key="/modal-regiones" value="/mantenedores/modalregiones.asp" />
          <add key="/modificar-regiones" value="/mantenedores/modregiones.asp" />
          <add key="/agregar-regiones" value="/mantenedores/addregiones.asp" />

          <add key="/comunas" value="/mantenedores/comunas.asp" />
          <add key="/tbl-comunas" value="/mantenedores/tbl-comunas.asp" />
          <add key="/modal-comunas" value="/mantenedores/modalcomunas.asp" />
          <add key="/modificar-comunas" value="/mantenedores/modcomunas.asp" />
          <add key="/agregar-comunas" value="/mantenedores/addcomunas.asp" />

          <add key="/sexo" value="/mantenedores/sexo.asp" />
          <add key="/tbl-sexo" value="/mantenedores/tbl-sexo.asp" />
          <add key="/modal-sexo" value="/mantenedores/modalsexo.asp" />
          <add key="/modificar-sexo" value="/mantenedores/modsexo.asp" />
          <add key="/agregar-sexo" value="/mantenedores/addsexo.asp" />

          <add key="/festivo" value="/mantenedores/festivo.asp" />
          <add key="/tbl-festivo" value="/mantenedores/tbl-festivo.asp" />
          <add key="/modal-festivo" value="/mantenedores/modalfestivo.asp" />
          <add key="/modificar-festivo" value="/mantenedores/modfestivo.asp" />
          <add key="/agregar-festivo" value="/mantenedores/addfestivo.asp" />

          <add key="/listas-desplegables" value="/mantenedores/listasdesplegables.asp" />
          <add key="/tbl-lstdesplegable" value="/mantenedores/tbl-lstdesplegable.asp" />
          <add key="/modal-lstdesplegable" value="/mantenedores/modallstdesplegable.asp" />
          <add key="/modificar-lstdesplegable" value="/mantenedores/modlstdesplegable.asp" />
          <add key="/agregar-lstdesplegable" value="/mantenedores/addlstdesplegable.asp" />

          <add key="/items-lista-desplegable" value="/mantenedores/itemslistadesplegable.asp" />
          <add key="/tbl-itemslistadesplegable" value="/mantenedores/tbl-itemslstdesplegable.asp" />
          <add key="/modal-itemslistadesplegable" value="/mantenedores/modalitemslstdesplegable.asp" />
          <add key="/modificar-itemslistadesplegable" value="/mantenedores/moditemslstdesplegable.asp" />
          <add key="/agregar-itemslistadesplegable" value="/mantenedores/additemslstdesplegable.asp" />

          <add key="/usuarios" value="/mantenedores/usuarios.asp" />
          <add key="/tbl-usuarios" value="/mantenedores/tbl-usuarios.asp" />
          <add key="/modal-usuarios" value="/mantenedores/modalusuarios.asp" />
          <add key="/modificar-usuarios" value="/mantenedores/modusuarios.asp" />
          <add key="/agregar-usuarios" value="/mantenedores/addusuarios.asp" />
          <add key="/lista-usuario-ldap" value="/mantenedores/listuser.asp" />
          <add key="/lista-departamento-por-nombre" value="/mantenedores/listardepartamentoxnombre.asp" />
          <add key="/listar-flujos-usuario" value="/mantenedores/listarflujosusuario.asp" />          
          <add key="/agregar-flujo-usuario" value="/mantenedores/agregaflujousuario.asp" />
          <add key="/eliminar-flujo-usuario" value="/mantenedores/eliminaflujousuario.asp" />
          <add key="/busca-flujos-asignados-usuario" value="/mantenedores/buscaflujousuario.asp" /> 
          
          <add key="/proveedores" value="/mantenedores/proveedores.asp" />
          <add key="/tbl-proveedores" value="/mantenedores/tbl-proveedores.asp" />
          <add key="/modal-proveedores" value="/mantenedores/modalproveedores.asp" />
          <add key="/modificar-proveedores" value="/mantenedores/modproveedores.asp" />
          <add key="/agregar-proveedores" value="/mantenedores/addproveedores.asp" />      


          <add key="/requerimiento" value="/requerimiento.asp" />
          <add key="/cambio-nombre-requerimiento" value="/cmbnombrereq.asp" />
          <add key="/listar-ordenes-de-compra" value="/include/modules/listarordenesdecompra.asp" />
          <add key="/guardar-documento-pagos" value="/include/modules/guardardocumentopago.asp" />          
          <add key="/listar-documento-pagos" value="/include/modules/listadocumentosparapago.asp" />                    
          <add key="/eliminar-documento-pagos" value="/include/modules/eliminardocumentopago.asp" />
          <add key="/consultar-documento-pagos" value="/include/modules/consultardocumentopago.asp" />
          <add key="/modificar-documento-pagos" value="/include/modules/modificardocumentopago.asp" />

          <add key="/listar-requerimientos-visar" value="/include/modules/listarreqparvisar.asp" />
          <add key="/visado-automatico" value="/include/modules/visadomasivo.asp" />
          

          <add key="/consulta-permiso-creacion" value="/permisodecreacion.asp" />

          <add key="/mantenedores/perfiles/modificar" value="/perfiles_modificar.asp" />		  
          <add key="/mantenedores/perfiles/visualizar" value="/perfiles_visualizar.asp" />
          <add key="/mantenedores/perfiles" value="/perfiles.asp" />
          <add key="/ver-detalle-requerimiento" value="/mantenedores/detalle-requerimiento.asp" />
          
          <add key="/informe-boletas-de-garantias" value="/mantenedores/bolteasdegarantias.asp" />
          <add key="/informe-dv-nulos" value="/mantenedores/informedvnulos.asp" />
          <add key="/devengos-nulos-listar" value="/mantenedores/devengosnulos.asp" />
          <add key="/devengos-nulos-actualizar" value="/mantenedores/devengosnulosagregar.asp" />
          <add key="/informe-aprobaciones-daf" value="/mantenedores/informeaprobacionesdaf.asp" />
          <add key="/tbl-infaprodaf" value="/mantenedores/informeaprobdaf.asp" />          

          <add key="/providencia" value="/include/modules/providencia.asp" />
          <add key="/ingreso-de-providencia" value="/include/modules/ingresoprovidencia.asp" />
                                        
          <add key="/wrk-requerimientos" value="/wrk-requerimientos.js" />
          <add key="/prt-requerimientos" value="/prt-requerimientos.php" />          
          <add key="/wrk-informesgenerales" value="/mantenedores/wrk-informesgenerales.js" />
          <add key="/prt-boletasdegarantias" value="/mantenedores/prt-boletasdegarantias.php" />
          <add key="/wrk-informes" value="/include/modules/wrk-informes.js" />
          <add key="/prt-memocompras" value="/include/modules/prt-memocompras.php" />
          <add key="/prt-cdpcompras" value="/include/modules/prt-cdpcompras.php" />
          <add key="/prt-rcpagos" value="/include/modules/prt-rcpagos.php" />
          <add key="/prt-rcpagosf7" value="/include/modules/prt-rcpagosf7.php" />
          <add key="/prt-providenciapagosf7" value="/include/modules/prt-providenciapagosf7.php" />

          <add key="/prt-rcpagosf8" value="/include/modules/prt-rcpagosf8.php" />
          <add key="/prt-providenciapagosf8" value="/include/modules/prt-providenciapagosf8.php" />
          <add key="/prt-devengodnulos" value="/mantenedores/prt-devengosnulos.php" />
          <add key="/prt-infopagos" value="/mantenedores/prt-informedepagos.php" />
          <add key="/prt-aprobacioesdaf" value="/mantenedores/prt-aprobacioesdaf.php" />
          
          

        </rewriteMap>
        <rewriteMap name="Static URL Failures">
          <add key="/robots.asp" value="/ " />
          <add key="/sitemap.asp" value="/ " />
          <add key="/login.asp" value="/ " />
          <add key="/bandeja.asp" value="/ " />		  
          <add key="/check_login.asp" value="/ " />		  
          <add key="/reqxuser.asp" value="/ " />		  
          <add key="/salir.asp" value="/" />
          <add key="/home.asp" value="/" />
          <add key="/foto.asp" value="/" />		  
          <add key="/errorpage/404.asp" value="/" />
          <add key="/errorpage/403.asp" value="/" />
          <add key="/errorpage/500.asp" value="/" />
          <add key="/errorpage/503.asp" value="/" />		  		  
          <add key="/default.asp" value="/" />		  		  
          <add key="/include/modules/breadcrumbs.asp" value="/" />
          <add key="/include/modules/perfil.asp" value="/" />		  		  
          <add key="/user.asp" value="/" />		  
          <add key="/perfiles.asp" value="/" />	
          <add key="/cerrar_sesion.asp" value="/" />
          <add key="/reactivar_sesion.asp" value="/" />
          <add key="/requerimientos.asp" value="/" />
          <add key="/proyecto.asp" value="/" />
          <add key="/menuflujo.asp" value="/" />
          
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <clear />			            				
        <rule name="Static URL Rewrites" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" ignoreCase="true" negate="false" />
          <conditions>
            <add input="{Static URL Rewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="false" redirectType="Temporary" />
        </rule>
        <rule name="Static URL Failures" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" ignoreCase="true" negate="false" />
          <conditions>
            <add input="{Static URL Failures:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="CustomResponse" statusCode="404" subStatusCode="0" />
        </rule>
        <rule name="Prevent rewriting for static files" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
             <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
                <rule name="WorkFlowFoto" stopProcessing="true">
                    <match url="^foto/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="foto.asp?usr_cod={R:1}" appendQueryString="false" />
                </rule>
				
				<rule name="WorkFlowHome" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowSubmenu" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowReqxUsr" stopProcessing="true">
                    <match url="^requerimiento-usuario/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="reqxuser.asp?page={R:1}&amp;size={R:2}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowAccionUsuario2K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)/([_0-9A-F]{8})-([0-9A-F]{4})-([0-9A-F]{4})-([0-9A-F]{4})-([0-9A-F]{12})$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}&amp;user_id={R:4}&amp;tok1={R:5}&amp;tok2={R:6}&amp;tok3={R:7}&amp;tok4={R:8}&amp;tok5={R:9}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowAccion" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}" appendQueryString="false" />
                </rule>
                <rule name="DailogoSocialUser" stopProcessing="true">
                    <match url="^user-ldap/([_0-9a-z-]+)$" />
                    <action type="Rewrite" url="user.asp?cuenta={R:1}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowAccion1K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}&amp;key={R:4}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowBandejaAccion1K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowBandejaAccion2K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)/([_0-9]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}&amp;key={R:4}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowBandejaAccion3K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)/([_0-9]+)/([_0-9]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}&amp;key={R:4}&amp;key2={R:5}" appendQueryString="false" />
                </rule>
                <rule name="WorkFlowBandejaAccion4K" stopProcessing="true">
                    <match url="^home/([_0-9a-z-]+)/([_0-9a-z-]+)/([_0-9]+)/([_0-9]+)/([_0-9]+)/([_0-9]+)$" />
                    <action type="Rewrite" url="home.asp?nompage={R:1}&amp;submenu={R:2}&amp;accion={R:3}&amp;key={R:4}&amp;key2={R:5}&amp;key3={R:6}" appendQueryString="false" />
                </rule>
      </rules>
    </rewrite>
        <handlers>
            <clear />
            <add name="php-8.3.3" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\php\php-8.3.3\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-8.1.6" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v8.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.1.7" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v7.1\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.22" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v5.6\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.6.23" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php-5.6.23\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-5.5.8" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.0.8" path="*.php" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\php708\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="AXD-ISAPI-4.0_32bit" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-4.0_32bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-4.0_32bit" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-4.0_32bit" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="svc-ISAPI-4.0_32bit" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="rules-ISAPI-4.0_32bit" path="*.rules" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="xoml-ISAPI-4.0_32bit" path="*.xoml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="xamlx-ISAPI-4.0_32bit" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="aspq-ISAPI-4.0_32bit" path="*.aspq" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="cshtm-ISAPI-4.0_32bit" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="cshtml-ISAPI-4.0_32bit" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="vbhtm-ISAPI-4.0_32bit" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="vbhtml-ISAPI-4.0_32bit" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="AXD-ISAPI-4.0_64bit" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-4.0_64bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-4.0_64bit" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-4.0_64bit" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="svc-ISAPI-4.0_64bit" path="*.svc" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="rules-ISAPI-4.0_64bit" path="*.rules" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="xoml-ISAPI-4.0_64bit" path="*.xoml" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="xamlx-ISAPI-4.0_64bit" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="aspq-ISAPI-4.0_64bit" path="*.aspq" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="cshtm-ISAPI-4.0_64bit" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="cshtml-ISAPI-4.0_64bit" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="vbhtm-ISAPI-4.0_64bit" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="vbhtml-ISAPI-4.0_64bit" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="TraceHandler-Integrated-4.0" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebAdminHandler-Integrated-4.0" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="AssemblyResourceLoader-Integrated-4.0" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WebServiceHandlerFactory-Integrated-4.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated-4.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated-4.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="svc-Integrated-4.0" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="rules-Integrated-4.0" path="*.rules" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xoml-Integrated-4.0" path="*.xoml" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="xamlx-Integrated-4.0" path="*.xamlx" verb="GET,HEAD,POST,DEBUG" type="System.Xaml.Hosting.XamlHttpHandlerFactory, System.Xaml.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="aspq-Integrated-4.0" path="*.aspq" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtm-Integrated-4.0" path="*.cshtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="cshtml-Integrated-4.0" path="*.cshtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtm-Integrated-4.0" path="*.vbhtm" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="vbhtml-Integrated-4.0" path="*.vbhtml" verb="GET,HEAD,POST,DEBUG" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptHandlerFactoryAppServices-Integrated-4.0" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ScriptResourceIntegrated-4.0" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" />
            <add name="SecurityCertificate" path="*.cer" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" />
            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" preCondition="integratedMode" />
            <add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" preCondition="integratedMode" />
            <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" preCondition="integratedMode" />
            <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" preCondition="integratedMode" />
            <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.SimpleHandlerFactory" preCondition="integratedMode" />
            <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="HttpRemotingHandlerFactory-soap-Integrated" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="AXD-ISAPI-2.0" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
            <add name="AXD-ISAPI-2.0-64" path="*.axd" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="PageHandlerFactory-ISAPI-2.0-64" path="*.aspx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="SimpleHandlerFactory-ISAPI-2.0-64" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="WebServiceHandlerFactory-ISAPI-2.0-64" path="*.asmx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" path="*.soap" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="SSINC-stm" path="*.stm" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="SSINC-shtm" path="*.shtm" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="SSINC-shtml" path="*.shtml" verb="GET,POST" modules="ServerSideIncludeModule" resourceType="File" />
            <add name="TRACEVerbHandler" path="*" verb="TRACE" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>        
  </system.webServer>
  <system.web>
    <customErrors mode="Off">
    </customErrors> 
  </system.web>
</configuration>
